extends layout

block content
  #content
    h1 Contatti
    p Puoi contattarci tramite i seguenti dettagli di contatto:
    table.listagara
              tr 
                td    
                  i.fa-solid.fa-envelope.fa-beat
                td
                  strong alebonora2003@gmail.com
              tr 
                td    
                  i.fa-solid.fa-phone.fa-beat
                td
                  strong +39 3519890456
              tr  
                td 
                  i.fa-brands.fa-instagram.fa-beat
                td
                  strong Instagram:
                  a(href="https://www.instagram.com/alessiobonora_") alessiobonora_ 
              tr 
                td
                  i.fa-brands.fa-strava.fa-beat 
                td 
                  strong Strava:
                  a(href="https://www.strava.com/athletes/18686973") Alessio Bonora
              tr  
                td 
                    i.fa-solid.fa-envelope.fa-beat
                td 
                    a(href="mailto:alebonora2003@gmail.com") Contatta l'assistenza

    p
      a(href='/') Torna alla homepage
    // Singolo prodotto nell'inserzione pubblicitaria
    - var nomeProdotto = "Guanti invernali touchscreen, antiscivolo e impermeabili.";
    - var urlProdotto = "https://cyclestylist.com/products/winter-gloves-touch-screen-riding-motorcycle-sliding-waterproof-sports-gloves-with-fleece";
    - var anteprimaImmagine = "images/Guanti.jpg";
    - var descrizioneProdotto = "Esplora l'inverno con stile e comfort! I nostri guanti invernali da ciclismo sono progettati per offrirti un look unico, con materiali di alta qualità che garantiscono una vestibilità comoda. Scegli tra una varietà di colori per esprimere il tuo stile mentre affronti le giornate fredde con grinta e stile.";
    .ad-container
      a(href=urlProdotto, target='_blank')
        h4 CycleStylist
        img#ad-image(src=anteprimaImmagine, alt=nomeProdotto, width='100%')
        .ad-offerta
          p#offerta In Offerta
        h2#ad-title= nomeProdotto
      p#ad-description= descrizioneProdotto
      a#ad-link(href=urlProdotto, target="_blank") Vai al Prodotto

    //- - var listaProdotti = [
    //-   { 
    //-     nome: "Guanti invernali touchscreen, antiscivolo e impermeabili.", 
    //-     url: "https://cyclestylist.com/products/winter-gloves-touch-screen-riding-motorcycle-sliding-waterproof-sports-gloves-with-fleece", 
    //-     anteprimaImmagine: "images/Guanti.jpg", 
    //-     descrizione: "Esplora l'inverno con stile e comfort! I nostri guanti invernali da ciclismo sono progettati per offrirti un look unico, con materiali di alta qualità che garantiscono una vestibilità comoda. Scegli tra una varietà di colori per esprimere il tuo stile mentre affronti le giornate fredde con grinta e stile." 
    //-   },
    //-   { 
    //-     nome: "CycleStylist Calze Aero", 
    //-     url: "https://cyclestylist.com/products/sport-profession-cycling-socks-men-anti-slip-seamless-aero-bike-wearproof-road-bicycle-socks-reflective-safety-sock", 
    //-     anteprimaImmagine: "images/CalzeAero.jpg", 
    //-     descrizione: "Descrizione prodotto 2" 
    //-   },
    //-   { 
    //-     nome: "CycleStylist Occhiali da sole", 
    //-     url: "https://cyclestylist.com/products/sport-profession-cycling-socks-men-anti-slip-seamless-aero-bike-wearproof-road-bicycle-socks-reflective-safety-sock", 
    //-     anteprimaImmagine: "images/OcchialiDaSole.jpg", 
    //-     descrizione: "Descrizione prodotto 3" 
    //-   }
    //-   // Aggiungi altri prodotti secondo necessità
    //- ]
    //-   each prodotto in listaProdotti
    //-     .ad-container
    //-       img#ad-image(src=prodotto.anteprimaImmagine, alt=prodotto.nome)
    //-       h2#ad-title= prodotto.nome
    //-       p#ad-description= prodotto.descrizione
    //-       a#ad-link(href=prodotto.url, target="_blank") Vai al Prodotto

    //-   button#prev-btn(onclick="changeAd(-1)") ←
    //-   button#next-btn(onclick="changeAd(1)") →

    //- script.
    //-   let currentAd = 1;
    //-   const totalAds = #{listaProdotti.length}; // Imposta il numero totale di prodotti

    //-   function changeAd(direction) {
    //-     currentAd += direction;
    //-     if (currentAd > totalAds) {
    //-       currentAd = 1;
    //-     } else if (currentAd < 1) {
    //-       currentAd = totalAds;
    //-     }

    //-     const adImage = document.getElementById('ad-image');
    //-     const adTitle = document.getElementById('ad-title');
    //-     const adDescription = document.getElementById('ad-description');
    //-     const adLink = document.getElementById('ad-link');

    //-     // Cambia le informazioni dell'annuncio
    //-     adImage.src = listaProdotti[currentAd - 1].anteprimaImmagine;
    //-     adImage.alt = listaProdotti[currentAd - 1].nome;
    //-     adTitle.innerText = listaProdotti[currentAd - 1].nome;
    //-     adDescription.innerText = listaProdotti[currentAd - 1].descrizione;
    //-     adLink.href = listaProdotti[currentAd - 1].url;
    //-   }
  #sidebar
    // Singolo prodotto nell'inserzione pubblicitaria
    - var nomeProdotto = "CycleStylist Calze Aero";
    - var urlProdotto = "https://cyclestylist.com/products/sport-profession-cycling-socks-men-anti-slip-seamless-aero-bike-wearproof-road-bicycle-socks-reflective-safety-sock";
    - var anteprimaImmagine = "images/calze.jpg";
    - var descrizioneProdotto = "";
    .ad-container
      a(href=urlProdotto, target='_blank')
        h4 CycleStylist
        img#ad-image(src=anteprimaImmagine, alt=nomeProdotto, width='100%')
        .ad-offerta
          p#offerta In Offerta
        h2#ad-title= nomeProdotto
      p#ad-description= descrizioneProdotto
      a#ad-link(href=urlProdotto, target="_blank") Vai al Prodotto
    section.widget
      h4.widgettitle Funzionalità del Sito
      p Descrizione delle funzionalità principali del sito:
      ul.check-list
        li Visualizza elenco di tutte le gare U23 in Italia
        li Registra un account per accedere alle funzionalità avanzate
        li Scarica i percorsi gpx 
        li Confrontati con altri utenti nella sezione commenti

  footer#footer
    p Sito di 
      a(href="https://www.strava.com/athletes/18686973") Alessio Bonora
    p &copy; 2023 Gare ciclistiche U23 ed Elite. Tutti i diritti riservati.