extends layout

block content
  section#main.wrapper
    .inner
        header.align-center 
          h1= title
          h2=percorso.nome
        form(action=`/mod/${percorso._id}`, method="post", enctype="multipart/form-data")
          label(for="descrizione") Descrizione:
          input(type="text", id="descrizione", name="descrizione", value=percorso.descrizione)

          label(for="tipo") Tipo:
          select(name="tipo")
            option(value="Regionale", selected=(percorso.tipo === "Regionale")) Regionale
            option(value="Nazionale", selected=(percorso.tipo === "Nazionale")) Nazionale
            option(value="Internazionale", selected=(percorso.tipo === "Internazionale 1.2")) Internazionale

          label(for="categoria") Categoria:
          select(name="categoria")
            option(value="U23", selected=(percorso.categoria === "U23")) U23
            option(value="U23 ed Elite", selected=(percorso.categoria === "U23 ed Elite")) U23 ed Elite
            option(value="Elite", selected=(percorso.categoria === "Elite")) Elite

          label(for="link") Link:
          input(type="text", id="link", name="link", value=percorso.link)

          button(type="submit") Salva Modifiche
