
  
extends layout

block content

  #content
    h1 Benvenuti nel sito dedicato a tutti i ciclisti! 
    p.descrizione-home Quante volte ci siamo trovati prima delle gare a parlare tra compagni di squadra per capire come fosse il tracciato, se ci fossero dei punti pericolosi da tener presenti, a che chilometro iniziasse la salita, quanto mancasse all'arrivo dopo aver scollinato uno strappo e un sacco di altri punti interrogativi che spesso rimanevano senza risposte.
    // Singolo prodotto nell'inserzione pubblicitaria
    - var nomeProdotto = "Guanti invernali touchscreen, antiscivolo e impermeabili.";
    - var urlProdotto = "https://cyclestylist.com/products/winter-gloves-touch-screen-riding-motorcycle-sliding-waterproof-sports-gloves-with-fleece";
    - var anteprimaImmagine = "images/Guanti.jpg";
    - var descrizioneProdotto = "Esplora l'inverno con stile e comfort! I nostri guanti invernali da ciclismo sono progettati per offrirti un look unico, con materiali di alta qualità che garantiscono una vestibilità comoda. Scegli tra una varietà di colori per esprimere il tuo stile mentre affronti le giornate fredde con grinta e stile.";
    .ad-container
      a(href=urlProdotto, target='_blank')
        h4 CycleStylist
        img#ad-image(src=anteprimaImmagine, alt=nomeProdotto, width='100%')
        .ad-offerta
          p#offerta In Offerta
        h2#ad-title= nomeProdotto
      p#ad-description= descrizioneProdotto
      a#ad-link(href=urlProdotto, target="_blank") Vai al Prodotto
    p
      | Per risolvere questa situazione ho pensato, in concomitanza con il mio 
      span(style="font-weight: bold;") progetto d'esame 
      | di programmazione web e mobile per il corso di Sicurezza delle Reti e dei Sistemi Informatici presso l'
      span(style="font-weight: bold;") Università Statale di Milano,
      | di creare questo sito così da poter dare in anticipo a tutti coloro che ne hanno bisogno le risposte alle domande sovraelencate.
    p
      | Infatti qui troverete una vasta raccolta di informazioni sulle 
      span(style="font-weight: bold;") gare ciclistiche di tutta Italia. 
      | Il nostro 
      span(style="font-weight: bold;") obiettivo 
      | principale è fornire a voi, ciclisti agonisti, un luogo centrale dove potete scoprire tutte le gare in programma, accedere a 
      span(style="font-weight: bold;") dettagliati percorsi 
      | e, cosa ancora più importante, 
      span(style="font-weight: bold;") interagire 
      | con la community ciclistica presente sul sito.
    p 
      | Prima di accedere ai percorsi, è necessario 
      span(style="font-weight: bold;") registrarsi 
      | e effettuare il 
      span(style="font-weight: bold;") login 
      | sul nostro sito. La 
      a(href="/register") registrazione 
      | è un semplice processo che ti consentirà di sfruttare appieno tutte le funzionalità del nostro sito dedicato ai ciclisti. Una volta effettuato il 
      a(href="/login") login
      |, avrai accesso completo ai dettagli dei percorsi, in cui è possibile 
      span(style="font-weight: bold;") scaricare il tracciato
      |nel formato gpx che poi può essere caricato comodamente sui 
      span(style="font-weight: bold;") ciclocomputer
      |, così si potrà avere sotto gli occhi anche durante la competizione! 
    p Inoltre per ogni gara elencata, è presente una sezione 
      span(style="font-weight: bold;") "Commenti"
      |, dove potrete confrontarvi con altri appassionati ciclisti, condividere esperienze, strategie e consigli per affrontare al meglio ogni gara.


  #sidebar
    section 
      // Singolo prodotto nell'inserzione pubblicitaria
      - var nomeProdotto = "CycleStylist Occhiali da sole";
      - var urlProdotto = "https://cyclestylist.com/products/mens-cycling-glasses-colorful-sunglasses-outdoor?variant=47135823855941";
      - var anteprimaImmagine = "images/occhiali.jpg";
      - var descrizioneProdotto = "Esprimiti con stile e affronta il vento con sicurezza con i nostri Occhiali Veloci - l'accessorio essenziale per chi ama pedalare con personalità. La fusione perfetta tra design aerodinamico e praticità, questi occhiali sono il tocco finale che rende ogni corsa un'esperienza unica. Scegli lo stile che ti rappresenta, sfida il vento e cavalca con stile!";
      .ad-container
        a(href=urlProdotto, target='_blank')
          h4 CycleStylist
          img#ad-image(src=anteprimaImmagine, alt=nomeProdotto, width='100%')
          .ad-offerta
            p#offerta In Offerta
          h4#ad-title= nomeProdotto
        a#ad-link(href=urlProdotto, target="_blank") Vai al Prodotto
    section.widget
      h4.widgettitle Prima di guardare i percorsi
      ul
        li 
          //- i.fa-solid.fa-arrow-right-to-bracket
          a(href="/register")   Registra un account per accedere alle funzionalita avanzate        
        li
          //- i.fa-solid.fa-address-card§
          a(href="/login")   Accedi al tuo account per gestire le gare
    section.widget
      h4.widgettitle Guida ai problemi 
      ul 
        li 
          a(href="/problemi#registrazione") Ho problemi con la registrazione
        li 
          a(href="/problemi#login") Ho problemi con il login
        li 
          a(href="/problemi") Contatta l'assistenza
    section.widget
      h4.widgettitle Funzionalità del Sito
      p Descrizione delle funzionalità principali del sito:
      ul.check-list
        li Visualizza elenco di tutte le gare U23 in Italia
        li Registra un account per accedere alle funzionalità avanzate
        li Scarica i percorsi gpx 
        li Confrontati con altri utenti nella sezione commenti
        

  footer#footer
    p Sito di 
      a(href="https://www.strava.com/athletes/18686973") Alessio Bonora
    p &copy; 2023 Gare ciclistiche U23 ed Elite. Tutti i diritti riservati.